<div class="main-sidebar">
  <div class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">
        Gestión de Dueño
      </li>
      <li class="active">
        <%= link_to 'Registrar', new_dueno_path %>
      </li>
    </ul>
    <ul class="sidebar-menu">
      <li class="header">
        Gestión de Estacionamiento
      </li>
      <li class="active">
        <%= link_to 'Registrar', new_estacionamiento_path %>
      </li>
      <li>
        <%= link_to 'Consultar', estacionamientos_path %>
      </li>
    </ul>
  </div>
</div>